<IfModule mod_rewrite.c>

        Options -MultiViews
        RewriteEngine On

        RewriteRule ^cms/(.*) cms/$1 [L]
        RewriteRule ^board/(.*) board/$1 [L]
        RewriteRule ^shop/(.*) shop/$1 [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>
